---
import Layout from "../layouts/Layout.astro";
import { ProjectCard } from "../components/ProjectCard";
import { projects } from "../data/project";
---

<Layout title="Projects | Modern Developer Portfolio">
  <main class="min-h-screen py-20 px-4">
    <div class="container mx-auto max-w-6xl">
      <!-- Header -->
      <div class="text-center mb-12">
        <a
          href="/"
          class="inline-flex items-center text-blue-600 hover:text-blue-800 mb-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-1"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd"></path>
          </svg>
          Back to Home
        </a>
        <h1 class="text-4xl font-bold text-white mb-4">My Projects</h1>
        <p class="text-white max-w-2xl mx-auto">Explore my latest projects.</p>
      </div>

      <!-- Projects Grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          projects.map((project) => (
            <ProjectCard client:load project={project} />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
