---

---

<section
  id="contact"
  class="bg-dark/80 backdrop-blur-lg rounded-3xl p-8 shadow-xl"
>
  <h3 class="text-2xl font-semibold mb-6 text-gray-300">Contact Me</h3>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div>
      <h4 class="text-lg font-medium text-gray-300">Email</h4>
      <a
        href="mailto:manya7547@gmail.com"
        class="text-gray-300 hover:text-blue-400 transition-colors"
      >
        manya7547@gmail.com
      </a>
    </div>
    <div>
      <h4 class="text-lg font-medium text-gray-300">GitHub</h4>
      <a
        href="https://github.com/Manya7547"
        class="text-gray-300 hover:text-blue-400 transition-colors"
      >
        Manya7547
      </a>
    </div>
    <div>
      <h4 class="text-lg font-medium text-gray-300">LinkedIn</h4>
      <a
        href="https://www.linkedin.com/in/manya-sohal"
        class="text-gray-300 hover:text-blue-400 transition-colors"
      >
        manya-sohal
      </a>
    </div>
  </div>
</section>
